.gradient-bg-welcome {
  background-color: #0f0e13;
  background-image: radial-gradient(
      at 0% 0%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 50%
    ),
    radial-gradient(at 50% 0%, hsla(225, 39%, 30%, 1) 0, transparent 50%),
    radial-gradient(at 100% 0%, hsla(339, 49%, 30%, 1) 0, transparent 50%);
}

.homeWrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.fromWrapper {
  padding: 20px;
}

footer {
  position: fixed;
  bottom: 0;
}

footer a {
  color: #4aee88;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.inputBox {
  padding: 8px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  font-size: 15px;
  font-weight: normal;
  color: #fff;
}

.mainLable {
  margin-bottom: 20px;
  margin-top: 0px;
}

.homeLogo {
  height: 70px;
  margin-bottom: 30px;
}

.btn {
  border: none;
  padding: 8px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

.joinBtn, .leaveBtn {
  background: rgb(74, 237, 136, 0.6);

  width: 100px;
  margin-left: auto;
}

.joinBtn:hover, .leaveBtn:hover {
  background: rgb(43, 130, 76, 0.4);
}

.createInfo {
  margin: 0 auto;
  margin-top: 20px;
  font-weight: normal;
}

.createNewBtn {
  color: rgb(74, 237, 136, 0.7);
  text-decoration: none;
  border-bottom: 1px solid rgb(74, 237, 136, 0.7);
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover {
  color: rgb(74, 237, 136, 0.2);
  border-bottom: 1px solid rgb(74, 237, 136, 0.4);
}

.toast-hite-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  color: #fff;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.blueFromWrapper {
  width: 400px;
  max-width: 90%;
}

/* editor */

.mainWrap {
  display: grid;
  grid-template-columns: 230px 1fr;
  /* height: 100vh; */
}

.aside {
  padding: 16px;
  color: white;
  display: flex;
  flex-direction: column;
}

.asideInner {
  flex: 1;
}

.clientsList {
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap:20px;
    justify-content: space-around;
}









/* client */

.client{
    display:flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
 

}

.userName{
    margin-top:10px;
}


.logo{
    border-bottom: 1px solid #424242;
    padding-bottom:10px;
}

.logoImage{
    height: 50px;
}

.leaveBtn{
    margin-top:20px;
    width:100%;

}

.CodeMirror{
    min-height: calc(100vh - 20px);
    font-size:20px;
    line-height:1.6;
    padding-top:20px;
    
}











.text-blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  /* border-radius: 0 5px 5px 0; */
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2); */

  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.text-white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  /* border-radius: 5px 0 0 5px; */

  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  /* border: 1px solid rgba(0, 0, 0, 0.3); */
}

.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.gradient-bg-transactions {
  background-color: #0f0e13;
  background-image: radial-gradient(
      at 0% 100%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 50%
    ),
    radial-gradient(at 50% 0%, hsla(225, 39%, 25%, 1) 0, transparent 50%);
}
